@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

:root {
  --light-black: #777;
  --light-white: #fff9;
  --dark-bg: rgba(0, 0, 0, 0.7);
  --light-bg: #eee;
  --border: 0.1rem solid black;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
}

* {
  font-family: "Itim", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background-color: white;
}

html::-webkit-scrollbar-thumb {
  background-color: rgb(2, 90, 108);
}

section {
  padding: 5rem 10%;
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
}

.heading,
.heading_1 {
  background-size: cover !important;
  background-position: center !important;
  padding-top: 0px;
  padding-bottom: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading_1 {
  padding-bottom: 10rem;
}
.heading h1,
.heading_1 h1 {
  font-size: 10rem;
  text-transform: uppercase;
  color: white;
  text-shadow: var(--text-shadow);
}
.heading_1 h1 {
  font-size: 8rem;
}
.heading .title {
  font-size: 10rem;
  text-transform: uppercase;
  color: rgb(55, 2, 90);
  text-shadow: var(--text-shadow);
}
.btn {
  display: inline-block;
  background: black;
  margin-top: 1rem;
  color: white;
  font-size: 1.7rem;
  padding: 1rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background: gold;
  color: black;
}

.heading-title,
.services .heading-title {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 6rem;
  text-transform: uppercase;
  color: black;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: gold;
  display: flex;
  padding-top: 3rem;
  padding-bottom: 3rem;
  box-shadow: var(--box-shadow);
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  font-size: 2.5rem;
  color: black;
}

.header .navbar a {
  font-size: 2rem;
  margin-left: 2rem;
  color: black;
}

.header .navbar a:hover {
  color: rgb(2, 90, 108);
}

#menu-btn {
  font-size: 2.5rem;
  cursor: pointer;
  color: black;
  display: none;
}

.home {
  padding: 0;
}

.home .welcome_page {
  text-align: left;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover !important;
  background-position: center !important;
  min-height: 60rem;
  box-shadow: var(--box-shadow);
}

.home .welcome_page .content {
  width: 85rem;
}

.home .welcome_page .content span {
  display: block;
  font-size: 2.2rem;
  color: #fff9;
  padding-bottom: 1rem;
  animation: fadeIn 0.1s linear backwards 0.1s;
}

.home .welcome_page .content h3 {
  font-size: 6vw;
  color: white;
  text-transform: uppercase;
  line-height: 1;
  text-shadow: var(--text-shadow);
  padding: 1rem 0;
  animation: fadeIn 0.1s linear backwards 0.2s;
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  padding: 3rem 2rem;
  text-align: center;
  background: rgb(6, 110, 222);
  cursor: pointer;
  border-radius: 190px;
  box-shadow: var(--box-shadow);
}

.services .box-container .box:hover {
  background: black;
  transform: translateY(-5px);
}

.services .box-container .box img {
  height: 7rem;
}
.services .heading-title {
  color: white;
}
.services .box-container .box h3 {
  color: white;
  font-size: 1.7rem;
  padding-top: 1rem;
}

.home-about {
  background-color: black;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 35px;
}

.home-about .image {
  flex: 1 1 25rem;
}

.home-about .image img {
  width: 70%;
  border-radius: 8px;
}

.home-about .content {
  border-radius: 8px;
  flex: 1 1 30rem;
  padding: 2rem;
  background: black;
}

.home-about .content h3 {
  font-size: 3rem;
  color: white;
}

.home-about .content .list {
  font-size: 1.5rem;
  padding: 1rem 0;
  line-height: 2;
  color: white;
}

.home-packages .heading-title {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 6rem;
  text-transform: uppercase;
  color: white;
}

.home-packages .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.home-packages .box-container .box {
  border: var(--border);
  box-shadow: var(--box-shadow);
  background: white;
  border-radius: 15px;
  overflow: hidden;
}

.home-packages .box-container .box:hover .image img {
  transform: scale(1.1);
}

.home-packages .box-container .box .image {
  height: 25rem;
  overflow: hidden;
}

.home-packages .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}

.home-packages .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.home-packages .box-container .box .content h3 {
  font-size: 2.5rem;
  color: black;
}

.home-packages .box-container .box .content p {
  font-size: 1.5rem;
  color: var(--light-black);
  line-height: 2;
  padding: 1rem 0;
}

.home-packages .load-more {
  text-align: center;
  margin-top: 2rem;
}

.home-offer {
  text-align: center;
}

.home-offer .content {
  max-width: 70rem;
  margin: 0 auto;
}

.home-offer .content h3 {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: black;
}

.home-offer .content p {
  font-size: 1.5rem;
  color: var(--light-black);
  line-height: 2;
  padding: 1rem 0;
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.about .content {
  flex: 1 1 41rem;
  text-align: left;
}

.about .content h3 {
  font-size: 3rem;
  color: black;
}

.about .content p {
  font-size: 1.5rem;
  color: var(--light-black);
  line-height: 2;
  padding: 1rem 0;
}

.reviews {
  background: rgb(1, 19, 57);
}
.swiper-wrapper {
  display: flex;
  align-items: center;
}
.reviews .slide {
  padding: 5px;
  height: 150px;
  border: var(--border);
  background: black;
  text-align: center;
  box-shadow: var(--box-shadow);
  user-select: none;
  margin-right: 40px;
  margin-left: 35px;
  border-radius: 10px;
}
.reviews .slide:hover {
  transform: translateY(-10px);
  box-shadow: var(--box-shadow);
  transition: 0.5s;
}
.reviews .slide .stars i {
  font-size: 1.7rem;
  color: gold;
}

.reviews .slide p {
  font-size: 1.5rem;
  color: white;
  line-height: 2;
  padding: 1rem 0;
}

.reviews .slide h3 {
  font-size: 2rem;
  color: white;
}

.reviews .slide span {
  font-size: 1.5rem;
  color: gold;
  display: block;
}

.reviews .slide img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  margin-top: 4px;
}
.packages {
  background-color: rgb(158, 155, 155);
}
.packages .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.packages .box-container .box {
  border: var(--border);
  box-shadow: var(--box-shadow);
  background: #fff9;
  display: none;
  border-radius: 15px;
  overflow: hidden;
}

.packages .box-container .box:nth-child(1),
.packages .box-container .box:nth-child(2),
.packages .box-container .box:nth-child(3),
.packages .box-container .box:nth-child(4),
.packages .box-container .box:nth-child(5),
.packages .box-container .box:nth-child(6) {
  display: inline-block;
}

.packages .box-container .box:hover .image img {
  transform: scale(1.1);
}

.packages .box-container .box .image {
  height: 25rem;
  overflow: hidden;
}

.packages .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}

.packages .box-container .box .content {
  padding: 2rem;
  text-align: center;
  background-color: white;
}

.packages .box-container .box .content h3 {
  font-size: 2.5rem;
  color: black;
}

.packages .box-container .box .content p {
  font-size: 1.5rem;
  color: var(--light-black);
  line-height: 2;
  padding: 1rem 0;
}

.packages .load-more {
  text-align: center;
  margin-top: 2rem;
}
.booking {
  background: rgb(78, 105, 84);
}
.booking .book-form {
  padding: 2rem;
  background: rgb(78, 105, 84);
}

.booking .book-form .flex {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.booking .book-form .flex .inputBox {
  flex: 1 1 41rem;
}

.booking .book-form .flex .inputBox input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  color: var(--light-black);
  text-transform: none;
  margin-top: 1.5rem;
  border: var(--border);
}

.booking .book-form .flex .inputBox input:focus {
  background: black;
  color: white;
}

.booking .book-form .flex .inputBox input:focus::placeholder {
  color: #fff9;
}

.booking .book-form .flex .inputBox span {
  font-size: 1.5rem;
  color: white;
}

.booking .book-form .btn {
  margin-top: 2rem;
}

.footer {
  background: url(../images/black.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
}

.footer .box-container .box h3 {
  color: white;
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.footer .box-container .box a {
  color: white;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  display: block;
  font-weight: bolder;
}

.footer .box-container .box a i {
  color: gold;
  padding-right: 0.5rem;
  transition: 0.2s linear;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .credit {
  text-align: center;
  padding-top: 3rem;
  margin-top: 3rem;
  border-top: 0.1rem solid #fff9;
  font-size: 2rem;
  color: white;
}

.footer .credit span {
  color: gold;
}

/* media queries  */

@media (max-width: 1200px) {
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 3rem 2rem;
  }

  .home .welcome_page.content h3 {
    font-size: 10vw;
  }
}

@media (max-width: 768px) {
  .heading h1 {
    font-size: 4rem;
  }

  #menu-btn {
    display: inline-block;
    transition: 0.2s linear;
  }

  #menu-btn.fa-times {
    transform: rotate(180deg);
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: white;
    border-top: var(--border);
    padding: 2rem;
    transition: 0.2s linear;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a {
    display: block;
    margin: 2rem;
    text-align: center;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading-title {
    font-size: 3.5rem;
  }
}
